<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h1 class=""><span class="icon-japan-kabuto-w"></span>登録済武将</h1>
		</div>
			<% if twitterer_logged_in? %>
				<%= link_to '新規武将登録', new_bushou_path, class: 'btn btn-xs pull-right btn-primary' %>
			<% end %>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">一覧</h1>
			</div>
			<div class="list-group">
  			<% @bushous.each do |bushou| %>
					<%= link_to bushou_path(bushou), class: 'list-group-item' do %>
						<span class="text-primary"><%= bushou.name %></span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div><!-- end col -->
</div><!-- end row -->
