<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h1 class=""><span class="small glyphicon glyphicon-asterisk"></span>新規武将登録</h1>
		</div>
  </div>

  <div class="col-md-8">
		<%= render 'form', bushou: @bushou %>
		<p><span class="text-warning glyphicon glyphicon-warning-sign"></span> 新規登録すると同時にtweetされます。</p>
	</div><!-- end col -->
</div><!-- end row -->
